// Stylesheet Friseur

.Header {
    width: 100%;
    height: 100px;
    background-color: beige;
}

.ContentBild {
    
    #Content {
    }
    
    #Bild {
        
    }

}

.PreisAnfahrt {
    
    #Preis {
        
    }
    
    #Anfahrt {
        
    }
    
}

.MobilLaden {
    
    #Mobil {
        
    }
    
    #Laden {
        
    }
    
}

.FooterFoot {
    
    #Footer {
        
    }
    
    #Foot {
        
    }
    
}

